<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Design</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Главная страница</a></li>
            <li><a href="/page1">Наши заказчики</a></li>
            <li><a href="/page2">Наши задания</a></li>
            <li><a href="/page3">Наши работники</a></li>
            <li><a href="/orders">Наши заказы</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="center-block">
        <h1>Добро пожаловать на сайт Конструкторского бюро</h1>
        <p>Что тут происходит?</p>
        <p>Заказчик представляет Техническое Задание (ТЗ), в котором перечислен перечень Работ с указанием квалификации и количества требуемых специалистов.</p>
        <p>Администратор рассматривает ТЗ и оформляет Проект, назначая на него незанятых Работников требуемой квалификации</p>
        <p>После чего рассчитывается стоимость Проекта и Заказчику выставляется Счет из расчета заработной платы назначенных специалистов</p>
    </div>
</main>
</body>
</html>