<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Design</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{../js/storage/LocalFunctions.js}" defer></script>
    <script type="text/javascript" th:src="@{../js/storage/TLocalStorage.js}" defer></script>
</head>
<style>
    body {
        display: flex;
        font-size: 25px;
    }
    input {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    form {
        margin-bottom: 20px;
        border-bottom: 1px dotted darkslategrey;
    }
    .types {
        margin: 0 30px;
        padding: 20px;
        border: 1px solid black;
    }
</style>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Главная страница</a></li>
            <li><a href="/page1">Наши заказчики</a></li>
            <li><a href="/page2">Наши задания</a></li>
            <li><a href="/page3">Наши работники</a></li>
            <li><a href="/orders">Наши заказы</a></li>
            <li><a href="/page4">Local Storage</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="types">
        <form action="#" id="main-form">
            <label for="id">ID:</label><input id="id" type="text"><br>
            <label for="id_customer">ID Customer:</label><input id="id_customer" type="text"><br>
            <label for="id_task">ID Task:</label><input id="id_task" type="text"><br>
            <label for="price">Price:</label><input id="price" type="text"><br>
            <label for="paid">Paid:</label><input id="paid" type="checkbox"><br>
            <input type="submit" onclick="ordersTable.addValue()" value="addToBase">
        </form>
        <form action="#" id="info-form">
            <label for="info">Получить информацию о заказе:</label><input id="info" type="text"><br>
            <input type="submit" onclick="ordersTable.getValue()" value="getInfo">
            <div id="text-info"></div>
        </form>
        <form action="#" id="delete-form">
            <label for="delete">Удалить информации о заказе:</label><input id="delete" type="text"><br>
            <input type="submit" onclick="ordersTable.deleteValue()" value="deleteOrder">
        </form>
        <form action="#" id="list-form">
            <div>Перечень всех заказов:</div>
            <input type="submit" onclick="ordersTable.getKeys()" value="Show">
            <div id="list-orders"></div>
        </form>
    </div>
</main>
</body>
</html>