<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Design</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Главная страница</a></li>
            <li><a href="/page1">Наши заказчики</a></li>
            <li><a href="/page2">Наши задания</a></li>
            <li><a href="/page3">Наши работники</a></li>
            <li><a href="/orders">Наши заказы</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="center-block">
        <h1>Наши работники</h1>
        <div class="image-grid">
            <div class="image">
                <img src="/img/image5.png" alt="Нюша">
                <div class="caption">Карыч</div>
            </div>
            <div class="image">
                <img src="/img/image6.jpeg" alt="Копатыч">
                <div class="caption">Крош</div>
            </div>
        </div>
    </div>
</main>
</body>
</html>