<div class="jumbotron">
  <h1 class="display-4">Конструкторское бюро</h1>
  <p class="lead">Заказчик представляет Техническое Задание (ТЗ), в котором перечислен перечень Работ с указанием квалификации и количества требуемых специалистов. Администратор рассматривает ТЗ и оформляет Проект, назначая на него незанятых Работников требуемой квалификации, после чего рассчитывается стоимость Проекта и Заказчику выставляется Счет из расчета заработной платы назначенных специалистов</p>
  <hr class="my-4">
  <p>Создать модуль (module) с названием Projects. В этом модуле разместить компоненты (component) ProjectCenter, ProjectList, ProjectDetails. Добавить навигацию: при открытии проекта на место элемента router-outlet отображается компонент ProjectCenter, для которого дочерним подгружается компонент ProjectList. При нажатии на один из элементов списка ProjectList подгружается соответствующий компонент ProjectDetails.
    Список проектов хранить в приложении в файле mock-project-list.ts в виде массива.</p>
</div>

<div class="jumbotron">
  <router-outlet></router-outlet>
</div>
