<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Главная страница</a></li>
            <li><a href="/page1">Наши заказчики</a></li>
            <li><a href="/page2">Наши задания</a></li>
            <li><a href="/page3">Наши работники</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="center-block">
        <h1>Наши задания</h1>
        <p>Сделать все что попросит заказчик</p>
    </div>
</main>
</body>
</html>